@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600;700&family=Jost:wght@400;500;600;900&family=Oswald:wght@400;500;700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
}

body {
    width: 1280px;
    margin: auto;
    font-family: 'Oswald', sans-serif;
    background-color: rgb(244, 242, 240);
}


p {
    size: 14px;
    color: darkblue;
}

a {
    color: black;
    text-decoration: none;
}

.header {
    text-align: center;
    margin: 0 0 20px 0;
}

.block {
    border: solid 1px black;
    padding: 15px;
}

.second-block {
    width: 640px;
    margin: 0 auto;
    background-color: aqua;
    text-align: center;
}

.padding {
    background-color: blueviolet;
    color: #ffffff;
    padding: 20px;
}

.padding-second {
    background-color: rgb(224, 148, 48);
    text-align: center;
    padding: 10px;
}

.margin {
    background-color: aqua;
    margin: 20px;
    border: solid 1px black;
}

.margin-second {
    margin: 10px;
    border: solid 1px black;
}

.main {
    background-color: rgb(250, 200, 1);
    width: 400px;
    height: max-content;
}