@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600;700&family=Jost:wght@400;500;600;900&family=Oswald:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    width: 1280px;
    margin: auto;
    background-color: rgb(244, 242, 240);
}


p {
    font-family: 'Inter', sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

.main {
    position: absolute;
    top: 30%;
    left: 40%;
    width: 410px;
    height: 306px;
    background: rgba(255, 255, 255, 1);
    padding: 16px;
    gap: 16px;
}

.header-card {
    width: 142px;
    height: 22px;
    margin-bottom: 10px;
}

.header-card p {
    size: 18px;
    color: black;
    line-height: 22px;
}

.wrapper-cards {
    display: flex;
    width: 378px;
    height: 221px;
    gap: 16px;
    margin: 0 auto;
}

.card {
    display: inline-block;
    width: 181px;
    height: 221px;
    border-radius: 24px;
    padding: 16px;
    gap: 16px;
    background: rgba(166, 166, 166, 1);
}

.card-img {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 149px;
    height: 138px;
    border-radius: 16px;
    background: rgba(255, 228, 157, 1);
    margin-bottom: 30px;
    overflow: hidden;
}

.card-img img {
    width: 149px;
}

.card-btn {
    width: 149px;
    height: 35px;
    border-radius: 10px;
    padding: 10px, 54px, 10px, 54px;
    gap: 10px;
    background: rgba(85, 85, 85, 1);
}

.card-btn p {
    color: #fff;
    padding: 0px;
    line-height: 15px;
    size: 12px;
}